.about-me-container {
  display: flex;
  flex-flow: row wrap;
}

.about-me-container-wrapper {
  display: flex;
  width: 33.3333%;
  margin-bottom: 2rem;
}

.about-me-img-wrapper {
  width: 2rem;
  min-width: 2rem;
  margin-right: 2rem;
}

.about-me-label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.about-me-value {
  font-size: 1.1rem;
}
