html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  display: table;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.75;
  border-bottom: 1px solid black;
  margin: 0 auto 4rem;
}

.section-contents {
  box-sizing: border-box;
  max-width: 71.25rem;
  padding: 4.5rem 2rem;
  margin: 0 auto;
}
